{% extends 'base.html.twig' %}

{% block title %}MemberGroup{% endblock %}

{% block body %}
    <h1>MemberGroup</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ member_group.id }}</td>
            </tr>
            <tr>
                <th>Date_enrolment</th>
                <td>{{ member_group.dateEnrolment ? member_group.dateEnrolment|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Role</th>
                <td>{{ member_group.role }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_member_group_index') }}">back to list</a>

    <a href="{{ path('app_member_group_edit', {'id': member_group.id}) }}">edit</a>

    {{ include('member_group/_delete_form.html.twig') }}
{% endblock %}
